---
---
<html lang="en">
    <head>
        <link rel="shortcut icon" href="/global/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" href="/global/style.css">
        <link rel="stylesheet" href="page.css">
        <title>Gift Lists - 256 Arts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="theme-color" content="#f7f7f7" media="(prefers-color-scheme: light)">
        <meta name="theme-color" content="#1c1c1e" media="(prefers-color-scheme: dark)">
        <meta name="og:image" content="/global/opengraph.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="keywords" content="jayden irwin, iOS, christmas, holiday, gifts, list, organizer, app, iphone, ipad, macOS, mac">
        <meta name="description" content="A holiday gifts list organizer app.">
        <meta name="apple-itunes-app" content="app-id=6444738623">

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-1K3VKRF5RZ"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-1K3VKRF5RZ');
        </script>
        <script defer src="/global/menu.js"></script>
    </head>
    <body ontouchstart>
        {% include header.html %}
        <section class="chapter-container banner">
        	{% include chapter-nav.html %}
        </section>
        <section class="app-info">
        	<section>
        		<img src="/apps/icon_giftslist.png" srcset="icon_giftslist.png 2x" class="large-app-icon">
				<h1 id="title">Gift Lists</h1>
				<h3>Organize Your Holiday Shopping</h3>
				<p>Organize your holiday shopping list and categorize it by your gift recipients to make sure you don't leave anyone out!</p>
			</section>
			<section>
				<div>
					<a class="button filled app-buy secondary" href="https://github.com/256Arts/Holiday-Gifts-List" target="_blank">GitHub</a>
				</div>
				<div>
					<a class="button filled app-buy" href="https://apps.apple.com/app/holiday-gifts-list/id6444738623" target="_blank">Get</a>
					<p class="tag">iOS, iPadOS, watchOS, macOS, visionOS</p>
				</div>
			</section>
        </section>
		<section class="feature">
			<section>
				<div class="phone z-stack">
					<img class="screenshot" srcset="shot1.webp 2x" alt="screenshot" loading="lazy">
					<img class="device-frame" srcset="/phone.png 2x" alt="phone frame" loading="lazy">
				</div>
				<h1>Track your nice list.</h1>
			</section>
		</section>
        {% include footer.html %}
	</body>
</html>
