{%- comment -%}
Site footer. Include on every page:  {% include footer.html %}
{%- endcomment -%}
<footer>
            <section class="content">
                <p class="secondary">Copyright &#169; 256 Arts Inc. All rights reserved.</p>
                <a href="{{ site.data.apps.source.url }}" target="_blank" rel="noopener">{{ site.data.apps.source.name }}</a>
                <a href="https://discord.gg/WZrTPqP" target="_blank" rel="noopener">Community</a>
                <a href="/contact/">Contact</a>
                <a href="/legal/privacy/">Privacy</a>
                <a href="/legal/termsofuse/">Terms</a>
            </section>
        </footer>
