---
---
<html lang="en">
    <head>
        <link rel="shortcut icon" href="/global/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" href="/global/style.css">
        <link rel="stylesheet" href="page.css">
        <title>Palette Studio - 256 Arts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="theme-color" content="#f7f7f7" media="(prefers-color-scheme: light)">
        <meta name="theme-color" content="#1c1c1e" media="(prefers-color-scheme: dark)">
        <meta name="og:image" content="/global/opengraph.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="keywords" content="256 Arts, iOS, iPadOS, visionOS, color, palette, generator, explore, 3d, oklab, oklch, app, iphone, ipad, vision">
        <meta name="description" content="Palette Studio lets you explore and generate color palettes in a 3D space using advanced color models like OKLab and OKLCH.">
        <meta name="apple-itunes-app" content="app-id=">

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JRJ540QVW4"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-JRJ540QVW4');
        </script>
        <script defer src="/global/menu.js"></script>
    </head>
    <body ontouchstart>
        {% include header.html %}
        <section class="header-space"></section>
        <section class="chapter-container banner">
        	{% include chapter-nav.html %}
        </section>
        <section class="app-info">
        	<section>
        		<img src="/apps/icon_palette3d.webp" srcset="icon_palette3d.webp 2x" class="large-app-icon">
				<h1 id="title">Palette Studio</h1>
				<h3>Explore Colors in 3D</h3>
				<p>Palette Studio lets you explore and generate color palettes in a 3D space using advanced color models like OKLab and OKLCH.</p>
			</section>
			<section>
				<div>
					<a class="button filled app-buy secondary" href="https://github.com/256Arts/Palette-3D" target="_blank">GitHub</a>
				</div>
				<div>
					<a class="button filled app-buy" href="https://apps.apple.com/app/palette-3d/id6670776239" target="_blank">Get</a>
					<p class="tag">iOS, iPadOS, visionOS</p>
				</div>
			</section>
        </section>
		<section class="feature">
			<section>
				<div class="phone z-stack">
					<img class="screenshot" srcset="shot1.webp 2x" alt="screenshot" loading="lazy">
					<img class="device-frame" srcset="/phone.png 2x" alt="phone frame" loading="lazy">
				</div>
				<h1>Explore in 3D.</h1>
			</section>
		</section>
        {% include footer.html %}
	</body>
</html>
