@supports (-webkit-background-clip: text) {
    #title {
        background: linear-gradient(#57AD3F 0%, #57AD3F 49.9%, var(--heading-text-color) 50.1%, var(--heading-text-color) 100%);
        background-attachment: fixed;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}
.banner {
    background: url("banner.webp") no-repeat center center;
    background-size: cover;
}
.button.app-buy {
    background: linear-gradient(#57AD3F 0%, #57AD3F 49.9%, #00AF5C 50.1%, #00AF5C 100%);
    background-attachment: fixed;
}
.screenshot {
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
}
